body {
  text-align: center;
   background-image: url("./3.jpg");
   
}
* {
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-family: 'Lobster Two', cursive;
  font-size: 9vh;
}
.ticket {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: 0.3s;
  border-radius: 15px;
  background-color: white;
  margin: 0 7vw;
  margin-top: 8vh;
  opacity: 0.82;  
}
 .tickets :hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 10px 6px rgba(0, 0, 0, 0.23);
  opacity: 1;  

 }
 .ticket :hover {
  box-shadow: none;
 }
.counter:hover {
  box-shadow: none;
}
 li {
   list-style: none;
 }

.title {
   font-size: 3.5vh;
}
.content {
  padding: 0 2vw;
}
.errorTitle{
  font-size: 4vh;
}
input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 20vw;
}

.fa {
  padding-right: 1vw;
}

input:focus {
  outline: none;

}
#restoreHideTickets{
  cursor: pointer;
  box-shadow: none;

}

.moreLess {
  cursor: pointer;
  color: blue;
}

.hideTicketButton{
  cursor: pointer;
  color:indianred;
  padding-left: 77vw;
}

.Corvid {
  color: blue;
  border-bottom: 0.5px solid blue;
} 

.Api {
  color:crimson;
  border-bottom: 0.5px solid crimson;
}

.Guidelines {
  color:darkseagreen;
  border-bottom: 0.5px solid darkseagreen;
}

.Collapse {
  color:lightsalmon;
  border-bottom: 0.5px solid lightsalmon;
}

.Expand{
  color:purple;
  border-bottom: 0.5px solid purple;
}

.Login {
  color:teal;
  border-bottom: 0.5px solid teal;
}

.Problem {
  color:gold;
  border-bottom: 0.5px solid gold;
}

.Tutorial {
  color:peru;
  border-bottom: 0.5px solid peru;
}

.Count {
  color:red;
  border-bottom: 0.5px solid red;
}